@charset "UTF-8";

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #cccccc;
    width: 100%;
    height: 100%;
}

.bg-img{
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.ghost-bg{
    background-color: rgba(255,255,255,0.8);
}

.recovery-btn-img{
    width: 20px;
    height: 20px;
    margin: auto;
}

.user-avatar{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    box-shadow: 1px 1px 4px black;
}

.no-input-fx{
    outline: none;
    border: solid black 1px;
}

.product-img{
    height: 80px;
    width: 80px;
}

.product-detail-img{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.of-x-hidden{
    overflow-x: hidden;
}

.of-y-hidden{
    overflow-y: hidden;
}

.bs-borderbox{
    box-sizing: border-box;
}

.no-resize{
    resize: none;
}